# Docs directory
docs

# Dependency directories
node_modules

# Build files
dist

# Logs
/logs
.DS_Store

# Environment variables
.env
.env.local

# MongoDB data directory
/mongo
/mongo-test

# Postgres data directory
/postgres
/postgres-test

# Test coverage
/coverage